### Preprocessing Exercise

In [1]:
import pandas as pd

In [5]:
cols = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship'
        ,'race','sex','capital-gain','capital-loss','hours-per-week','native-country','Salary']

adult_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/adult.data.txt', names=cols)

In [10]:
cat_data = adult_data.select_dtypes(include=['object'])

In [14]:
cat_data.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,Salary
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [15]:

from sklearn.preprocessing import OneHotEncoder

In [16]:
ohe = OneHotEncoder()

In [19]:
ohe.fit(cat_data[['workclass','education']])

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [29]:
res = ohe.transform(cat_data[['workclass','education']])

In [30]:
res

<32561x25 sparse matrix of type '<class 'numpy.float64'>'
	with 65122 stored elements in Compressed Sparse Row format>

In [27]:
num_data = adult_data.select_dtypes(exclude=['object'])

In [31]:
num_data.to_numpy()

array([[    39,  77516,     13,   2174,      0,     40],
       [    50,  83311,     13,      0,      0,     13],
       [    38, 215646,      9,      0,      0,     40],
       ...,
       [    58, 151910,      9,      0,      0,     40],
       [    22, 201490,      9,      0,      0,     20],
       [    52, 287927,      9,  15024,      0,     40]])

In [33]:
import numpy as np
z = np.hstack([res.toarray(),num_data.to_numpy()])

In [34]:
z.shape

(32561, 31)